dconf
google-chrome
gtk-3.0
procps
pulse
spotify
yay
user-dirs.dirs
user-dirs.locale
QtProject.conf
RIA/
obs-studio/
VirtualBox/
vlc/
JetBrains/
discord/
jgit/
obsidian/
Thunar/accels.scm
balenaEtcher/
openrazer/
GIMP/
Code - OSS/
gtk-2.0/
github-copilot/
Android Open Source Project/
Google/
Meltytech/
audacity/
mozilla/
picom/
